.clearance td{
    background: #e0f7fa;
}

td {
    background:#f1f8e9(231, 231, 98, 0.676);
}

.table{
    border: 1px solid #90a4ae;
}
.table th {
    background-color: #37474f(235, 221, 221, 0.765);
}