form {
    padding: 60px;
    width: 600px;
    border: solid 1px rgb(206, 199, 199);
    border-radius: 20px;
}

.container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}



