<div class="container">
<h1>Formulario de Consultas</h1>
<form action="">
    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"></span>
  <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="email" class="form-control" placeholder="Email" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">gmail.com</span>
</div>

<div class="input-group">
  <span class="input-group-text">Haga su consulta</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
 <div class="col-12 p-5 d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Enviar consulta</button>
  </div>
</form>
</div>
