<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: #dbeffc; padding: 10px;">
    <a class="navbar-brand" href="#">JL-Cars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/about'">Contactos</a>
        </li>
      </ul>
        <app-cart></app-cart>
    </div>
  </div>
</nav>
   <div class="container">
     <router-outlet></router-outlet>
  </div>
<footer>
  <div class="card text-center p-4" style="background-color: #dbeffc;">
    <div class="card-body">
      <h5 class="card-title">Gracias por comprar en {{title}}</h5>
      <p class="card-text">Contactanos aqui</p>
    </div>
  </div>
  
</footer>
