<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid" style="background-color: #dbeffc; padding: 10px;">
    <a class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
        <a class="nav-link" [routerLink]="'/about'">Contactos</a>
      </div>
    </div>
  </div>
</nav>
   <div class="container">
     <router-outlet></router-outlet>
  </div>
<footer>
  <div class="card text-center p-4" style="background-color: #dbeffc;">
    <div class="card-body">
      <h5 class="card-title">Gracias por comprar en {{title}}</h5>
      <p class="card-text">Contactanos aqui</p>
    </div>
  </div>
</footer>